.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end; // width
  grid-row: 1 / -1; // height -> -1 means until the end

  display: flex; // align and center small staff then we use flex
  justify-content: center; // align horizontally
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }
}